[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
greensim = "*"

[dev-packages]
pytest = "*"
pytest-cov = {version = ">=2.5.1", index = "pypi"}
flake8 = "*"
mypy = "*"
pudb = "*"
twine = "*"
setuptools = "*"
wheel = "*"
itsim = {editable = true, path = "."}

[requires]
python_version = "3.6"
