[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
greensim = "*"
warlock = "*"
flask="*"
flask-restful="*"
jsonschema="*"

[dev-packages]
flake8 = "*"
ipykernel= "*"
itsim = {editable = true, path = "."}
jupyter = "*"
mypy = "*"
numpy = "*"
plotly = "*"
pudb = "*"
pytest = {version = ">=3.8.2", index = "pypi"}
pytest-cov = {version = ">=2.5.1", index = "pypi"}
pytest-xprocess = "*"
pytest-benchmark = "*"
requests = "*"
setuptools = "*"
sphinx = "*"
twine = "*"
wheel = "*"
texttable  = "*"

[requires]
python_version = "3.6"
